/**********************First Section*************************/
.logo-img{
    width: 80px;   
}

li,a{
    color:#555;
    font-size: 12px;
    font-weight:550; 
    text-decoration: none; 
}
.nav-btn{
    border: none; 
    background-color:#07a3e9;
    padding:4px 8px;
    color: white;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px;
}

nav{
    display:flex; 
    justify-content:space-between;
}
.navigation-bar
{
    display:flex;
    justify-content:space-between;
    align-items:start;
    padding:0px;
    position: relative; 
}
header{
    background-color:#edf9ff;
    height: 450px;
    display:flex;
    flex-direction: column;
    padding:0px;
    position: relative;
    margin-bottom: 40px;
   
}
.nav-links{
    list-style:none;
    margin-top: 16px;
}
.nav-links li {
    display: inline-block;
    margin-right: 25px;
}
.nav-links li a:hover{
    color:#07a3e9;

}
.navigation-bar{
    margin-bottom:40px;   
}

.header-center-elements h1{
    color:#333;
    margin-bottom:20px;
}
.hero-description p{
    font-size: 13px;
    font-weight:300;
    margin-bottom:30px;
}
.header-center-elements{
    align-self:center;
    display:flex;
    justify-content:space-evenly;  
}
header img{
    margin-top: 12px; 
    margin-left: 25px;
  

}
.start{
    border: none; 
    background-color:#07a3e9;
    padding:7px 18px;
    color: white;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px; 
    margin-right:10px;
}
.learn-more{
    border: none; 
    background-color:white;
    padding:8px 20px;
    color: #555 ;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px;  
}
.hero-description{
    width:340px;
    Height:280px;
    margin-top:15px;
    margin-right:30px;
}
/**********************Second Section*************************/
.second-section{
    display:flex;
    align-items:center;
    flex-direction: column;
}
.ss-prag h2{
    color:#333;

}
.ss-prag{
    margin-bottom: 40px;
}
.ss-prag p{
    color:#07a3e9;
    font-size:10px;
    font-weight: 500;
}
.ss-boxes{
    display:flex;  
    align-items:center;
    flex-direction: column;
    height: 800px;
}
.box{
    display:flex;
    justify-content:space-between; 
    margin-bottom: 40px;
    height:300px;
}
.box-img{
    width:350px;
    Height:80px;
    align-self:center;
}
.box-desc{
    width:350px;
    Height:80px;
}
.box-img img{
    background-color: #edf9ff ;
    border-radius: 50%;
    padding:10px 14px;
}


/**********************Third Section*************************/
.gallery-img{
    height:100px;
    width:150px;

}
.gallery{
    height:600px;
    width:700px;
    margin:20 px;
   
   
}
.gallary-container{
    
    margin-top:170px;
   
}
.images{
    width:auto;
    height:auto;
    margin:50 px;
   
}
.third-section{
    
    display:flex;
    justify-content:space-between;
   
    
}
.descp{
font-size:12px;
margin-bottom: 5px;
}
.name{
    font-size:8px;
}
.ss-prag{
    
    margin-top: 80px;
    margin-left:250PX;

}

.comment{
    margin: 35px;
    
}
.comment-box  {
    display:flex;
    justify-content:space-between;
    background-color:#edf9ff ;
    height:220px;
    width:500px;
    margin-left:220PX;


}

.comment-img{
    border-radius: 50%;
    width:30Px;
    height:30px;  
}
.forth-section{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.price-cards{
    display:flex;
    justify-content:space-between;
    
}
.middle-section{
    display:flex;
    padding: 60px 40px;
    
}
.ways-images{
    display:flex;
    justify-content:space-around;
    align-self:center;
    height:200px;
    width:900px;
    margin-left:280px;
    margin-top: 80px;
    margin-bottom: 100px;
    
}
.text-sep{
    text-align: center;
    font-size:12px;
    margin-top: 40px;
}
.ms-img{
    height:60px;
    width:60px;
    background-color: #edf9ff;
    padding:10px;
    border-radius: 50px;
    margin-bottom:20px;
}
.ways-img p{
    font-size:12px;
}
.ways-img h5{
   color: #333;
   font-weight:600;
}
.front-card{
    background-color: white;
    height:400px;
    width:300px;
    border-style: solid;
    border-color:#edf9ff ;
    margin-right: 25px;
    border-radius: 5px;
    border-width: 1.5px;
}
.fullstack-card h4{
    color:#07a3e9;
    text-transform: uppercase;
    text-align: center;
    margin-top:20px;  
}
.fullstack-card p{
    text-align: center;
    font-size:14px;
    margin-bottom: 15px;
}
.fullstack-card i{
    color:#07a3e9;
    margin-right: 10px;
}
.front-card h4{
    color:#07a3e9;
    text-transform: uppercase;
    text-align: center;
    margin-top:20px; 
}
.front-card p{
    text-align: center;
    font-size:14px;
    margin-bottom: 15px;
}
.formule {
    margin-top:30px;
    
}
.start1{
    border: none; 
    background-color:#07a3e9;
    padding:7px 18px;
    color: white;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px; 
    margin-right:10px;
    margin-left:30%;
    margin-top: 40px;
    padding:12px 30px;
   
}

.front-card i{
    color:#07a3e9;
    margin-right: 10px;
}
.price-div{
display: flex;
align-items: center;

margin-top: 20px;
margin-bottom:14px;
}
.price-div h6{
   margin-left: 35%;
   font-size: medium;
   font-weight: 400;
   margin-top: 14px;
}
.price-div h1{
    font-size: 40px;
    color:#333;
}
.fullstack-card{
background-color: #edf9ff;
height:400px;
width:300px;
border-radius: 5px;

}

/**********************Last Section*************************/
.last-section{

margin-bottom: 40px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 60px 40px;
    
}
.contact-card h1{
color:#07a3e9 ;
margin-left: 20px;
margin-bottom: 20px;
}
.contact-btn{
    border: none; 
    background-color:#07a3e9;
    padding:10px 70px;
    color: white;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px;
}
.contact-card p{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
    }
.contact-card{
    height:350px;
    width:600px;
    background-color: #edf9ff;
    padding: 60px 40px;
    box-shadow: -20px -20px 40px rgb(255,255,255,-7),20px 20px 40px rgb(0,0,0,-1) ;
    border-radius: 10px 0px 0px 10px;
}

.Form-card input{
    border: none;
    border-radius: 6px;
    padding:10px 20px ;
    margin-right: 20px;
}
.Second-ligne select{
    border: none;
    border-radius: 6px;
    padding:10px 60.5px ;
    margin-right: 20px;
}
.Form-card{
    display: flex;
    flex-direction: column;
    
}
.first-ligne label{
margin-right: 166px;
margin-bottom: 10px;
font-size: 11px;
color: #333;
font-weight: 500;
}
#opt{
    
    margin-bottom: 10px;
    font-size: 11px;
    color: #333;
    font-weight: 500;
    }
.first-ligne{
    display: flex;
    flex-direction: row;
  
}
.first-ligne input{
    
    margin-bottom: 25px;
}

.Second-ligne{
    display: flex;
    flex-direction: row;  
}
.footer-container ul{
    list-style: none;
}
.footer-container{
max-width:1170px;
margin:auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.footer{
    padding: 70px 0;

}
.footer-col{
    width: 20%;
    padding:0 15px;
    margin-bottom: 100px;
}
.footer-col h4 {
    font-size: 16px;
    color: #555 ;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top:100px;
}
.footer-col p{
    margin-bottom: 25px; 
}
.footer-col li{
    margin-bottom: 20px;
    color:#555;
    font-size: 12px;
}
.footer-socials{
    margin-bottom: 20px;
     
}
.footer-socials a{
    margin-right: 10px;
    margin-left: 5px;
     
}
.logo-img-footer{
    margin-top:100px;
    width: 80px;
    margin-bottom: 30px; 
}
hr{
    border-top: 0px solid ;
}
.footer-col P{
    font-size: 12px;
    color: #555 ;
    font-weight: 300;
}