
.logo-img{
    width: 80px;   
}

li,a{
    color:#555;
    font-size: 12px;
    font-weight:550; 
    text-decoration: none; 
}
.nav-btn{
    border: none; 
    background-color:#07a3e9;
    padding:4px 8px;
    color: white;
    font-size: 12px;
    font-weight:550;
    border-radius: 4px;
}
.container{
    background-color:#edf9ff;
    padding: 150px 3%;
    position: relative;
    margin: 0 auto;
   
     
}
nav{
    display:flex; 
    align-items:flex-start; 
    position: relative;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px;
    position: relative;
    margin-bottom: 60px;
}
.nav-links{
    list-style:none;
}
.nav-links li {
    display: inline-block;
    margin-right: 12px;
}
.nav-links li a:hover{
    color:#07a3e9;

}
